<form name="form1" (submit)="onSubmit()">
  <div class="heading">Tissue Type</div>
  <!-- Tissue -->
  <app-tissue-definition [tissueType]="tissueType" [absorberConcentration]="absorberConcentration" [bloodConcentration]="bloodConcentration"></app-tissue-definition>
  <br /><br />
  <app-scatterer-type [scattererType]="scattererType" [powerLaw]="powerLaw" [intralipid]="intralipid" [mieParticle]="mieParticle"></app-scatterer-type>
  <br />
  <!-- Range -->
  <app-range [range]="range"></app-range>
  <br />
  <div class="pull-right">
    <button id="Simulation" type="submit" class="btn btn-primary">Plot μs' Spectrum</button>&nbsp;
    <button id="Simulation" type="submit" class="btn btn-primary">Plot μa Spectrum</button>
  </div>
</form>
