<div class="heading">Optical Properties</div>
<div class="form-inline">
  <div class="input-group mr-sm-2 ml-sm-2">
    <div class="input-group-prepend">
      <span class="input-group-text">μa</span>
    </div>
    <input type="text" class="form-control" placeholder="μa" [(ngModel)]="opticalProperties.mua" />
    <div class="input-group-append">
      <span class="input-group-text">1/mm</span>
    </div>
  </div>
  <div class="input-group mr-sm-2">
    <div class="input-group-prepend">
      <span class="input-group-text">μs'</span>
    </div>
    <input type="text" class="form-control" placeholder="μs'" [(ngModel)]="opticalProperties.mus" />
    <div class="input-group-append">
      <span class="input-group-text">1/mm</span>
    </div>
  </div>
  <div class="input-group mr-sm-2">
    <div class="input-group-prepend">
      <span class="input-group-text">g</span>
    </div>
    <input type="text" class="form-control" placeholder="g" [(ngModel)]="opticalProperties.g" />
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">n</span>
    </div>
    <input type="text" class="form-control" placeholder="n" [(ngModel)]="opticalProperties.n" />
  </div>
</div>
